.steps {
  display: flex;
  gap: 1rem;
  justify-self: center;
  align-self: start;
  margin-top: 2rem;
  color: var(--c-step-button);

  & > button {
    width: 2rem;
    aspect-ratio: 1;
    border: 1px solid var(--c-step-button-border);
    border-radius: 50%;
    color: var(--c-step-button);
    background-color: var(--bgc-step-button);

    &:disabled {
      color: revert;
      background-color: revert;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
