.main {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--bgc-root);
}

.sidebar {
  composes: grid-stack from global;

  img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
  }
}

.steps {
  display: flex;
  gap: 1rem;
  justify-self: center;
  align-self: start;
  margin-top: 2rem;
  color: var(--c-step-button);

  & > button {
    width: 2rem;
    aspect-ratio: 1;
    border: 1px solid var(--c-step-button-border);
    border-radius: 50%;
  }
}
