.main {
  background-color: var(--bgc-root);

  > div {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    place-content: center;
    padding: 1rem;

    > div {
      grid-template-rows: revert;
      grid-template-columns: auto minmax(0, 40rem);
      padding: 1rem;
      border-radius: var(--border-radius);
      background-color: var(--bgc-content);
    }
  }
}

.sidebar {
  composes: grid-stack from global;

  img {
    width: 100%;
    max-height: 10rem;
    object-fit: cover;
  }

  @media screen and (min-width: 768px) {
    height: 100%;

    img {
      height: 100%;
      max-height: revert;
    }
  }
}

.steps {
  display: flex;
  gap: 1rem;
  justify-self: center;
  align-self: start;
  margin-top: 2rem;
  color: var(--c-step-button);

  & > button {
    width: 2rem;
    aspect-ratio: 1;
    border: 1px solid var(--c-step-button-border);
    border-radius: 50%;
  }
}
