.container {
  display: grid;
  grid-template-rows: 1fr auto;

  > :first-child {
    align-self: start;
  }

  form {
    display: grid;
    gap: var(--gap-form);
  }

  label {
    div:first-child {
      display: flex;
      justify-content: space-between;
      font-size: var(--fs-label);
    }

    > * + * {
      margin-top: 0.5em;
    }

    span:last-child {
      display: none;
    }

    &:has(input:where(:required, :invalid)) span:last-child {
      display: revert;
    }
  }

  .error {
    color: var(--c-error);
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: var(--c-border-input) solid 2px;
    border-radius: var(--border-radius);
    font-weight: var(--fw-placeholder);
    text-overflow: ellipsis;

    &:focus-visible {
      outline: var(--c-input-outline-focus) solid 2px;
      outline-offset: -2px;
    }

    &:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  span:first-child {
    color: var(--c-heading);
  }
}

.bottom {
  display: flex;
  justify-content: end;
  padding: var(--p-inline-container) calc(2 * var(--p-inline-container));
  background-color: var(--bgc-content);

  button {
    padding: 1rem;
    border-radius: var(--border-radius);
    color: var(--c-confirmation-button);
    background-color: var(--bgc-confirmation-button);
    transition: opacity var(--transition-duration);

    &:hover {
      opacity: 0.85;
    }
  }
}
