.container {
  display: grid;
  grid-template-rows: 1fr auto;

  > :first-child {
    align-self: start;
  }

  h1,
  h2 {
    color: var(--c-heading);
  }

  h2 {
    font-size: 1rem;
  }

  form {
    display: grid;
    gap: var(--gap-form);
  }

  label {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--c-checkbox-border);
    border-radius: var(--border-radius);

    &:focus-visible,
    &:has(input[type="checkbox"]:checked) {
      outline: 2px solid var(--c-input-outline-focus);
      outline-offset: -2px;
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--p-inline-container) calc(2 * var(--p-inline-container));
  background-color: var(--bgc-content);
}
