@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/fonts/Ubuntu-Regular.ttf");
  font-weight: var(--fw-normal);
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/fonts/Ubuntu-Medium.ttf");
  font-weight: var(--fw-medium);
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/fonts/Ubuntu-Bold.ttf");
  font-weight: var(--fw-bold);
}

/* custom properties */
:root {
  /* box model */
  --flow-spacing: 1em;
  --max-w-container: var(--macro-grid-content-max-w);
  --max-w-dialog: 45rem;
  --max-w-skeleton: 60rem;
  --min-w-root: 20rem;
  --p-inline-container: 1rem;
  --p-content: 2rem;
  --w-icon: 2rem;
  --border-radius: 0.5rem;
  --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /* grid */
  --auto-grid-column-w: 15rem;
  --gap-form: 1rem;
  --macro-grid-breakout-column-w: calc(
    (var(--macro-grid-breakout-max-w) - var(--macro-grid-content-max-w)) / 2
  );
  --macro-grid-breakout-max-w: 90rem;
  --macro-grid-content-max-w: 70rem;
  --macro-grid-gap: 2rem;

  /* typography */
  --ff-root: "Ubuntu", system-ui, sans-serif;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fw-root: var(--fw-normal);
  --fw-button: var(--fw-medium);
  --fw-heading: var(--fw-bold);
  --fw-placeholder: var(--fw-medium);
  --fw-link: var(--fw-medium);

  --fs-root: clamp(1rem, 0.875rem + 0.625vw, 1.25rem);
  --fs-h1: clamp(2rem, 1rem + 5vw, 4rem);
  --fs-h2: clamp(1.25rem, 0.625rem + 3.125vw, 2.5rem);
  --fs-h3: clamp(1.25rem, 0.625rem + 3.125vw, 2.5rem);
  --fs-h4: clamp(1rem, 0.5rem + 2.5vw, 2rem);
  --fs-label: clamp(0.875rem, 0.8125rem + 0.3125vw, 1rem);

  /* colors */
  --c-primary-marine-blue: #02295a;
  --c-primary-purplish-blue: #473dff;
  --c-primary-pastel-blue: #adbeff;
  --c-primary-light-blue: #bfe2fd;
  --c-primary-strawberry-red: #ed3548;

  --c-neutral-cool-gray: #9699ab;
  --c-neutral-light-gray: #d6d9e6;
  --c-neutral-magnolia: #f0f6ff;
  --c-neutral-alabaster: #fafbff;
  --c-neutral-white: #ffffff;

  --c-checkbox-disabled: var(--c-neutral-light-gray);
  --c-confirmation-button: var(--c-neutral-white);
  --c-heading: var(--c-primary-marine-blue);
  --c-step-button: var(--c-neutral-white);
  --c-step-button-border: var(--c-neutral-white);
  --c-root: var(--c-neutral-cool-gray);
  --c-error: var(--c-primary-strawberry-red);
  --c-input-outline-focus: var(--c-primary-purplish-blue);
  --c-border-input: var(--c-neutral-cool-gray);
  --c-checkbox-border: var(--c-neutral-light-gray);

  --bgc-summary: var(--c-neutral-magnolia);
  --bgc-finish-button: var(--c-primary-purplish-blue);
  --bgc-checkmark: var(--c-primary-purplish-blue);
  --bgc-confirmation-button: var(--c-primary-marine-blue);
  --bgc-switch-button: var(--c-neutral-white);
  --bgc-content: var(--c-neutral-white);
  --bgc-root: var(--c-neutral-magnolia);
  --bgc-step-button: var(--c-primary-light-blue);

  /* transition */
  --transition-duration: 0.5s;
  --fade-transition-duration: 1s;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  font: inherit;
  color: inherit;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: blue;
}

body {
  flex-grow: 1;
}

a,
button,
input,
label {
  cursor: pointer;
}

a {
  display: inline-block;
  font-weight: var(--fw-link);
  text-decoration: none;

  &:hover {
    text-decoration: revert;
  }
}

button {
  border: none;
  font-weight: var(--fw-button);
  background-color: transparent;
  transition: opacity var(--transition-duration);

  &:hover {
    opacity: 0.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: var(--fw-heading);
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

textarea {
  width: 100%;
  min-height: 10em;
  padding: 0.2em;
  cursor: text;
  background-color: #ddd;
  overflow: auto;
}

/* root styles */
#root {
  display: grid;
  min-height: 100vh;
  min-width: var(--min-w-root);
  font-family: var(--ff-root);
  font-weight: var(--fw-root);
  font-size: var(--fs-root);
  color: var(--c-root);
  background-color: var(--bgc-root);
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
